<section class="form-section">
    <div class="text">
        <h3>
            Fique por dentro de tendências
        </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis eum dicta nostrum voluptates illo doloribus,
            ut perferendis obcaecati culpa accusantium, rerum omnis eligendi, expedita distinctio voluptatem. Nihil
            magni nostrum quia.</p>
    </div>
    <form>
        <label for="email">Name</label>
        <input id="name"/>
        <label for="email">Email</label>
        <input id="email"/>
        <btn-primary></btn-primary>
    </form>
</section>