<app-header></app-header>
<main>
    <section class="main-section">
            <div class="headline">
                <span>KIPPER CONSULTORIA</span>
                <h1>A consultoria que você busca para seu software</h1>
            </div>
            <img ngSrc="/assets/principal.png" width="669" height="536">
    </section>
    <section class="benefit-section">
        <div class="benefit-data">

        </div>
        <p>não sabem como lidar com problemas de escalibilidade e grande volume de requisições</p>
    </section>
</main>